In [2]:
!ls ./data/

Black-Female-Names.csv	   Hispanic-Male-Names.csv  White-Female-Names.csv
Black-Male-Names.csv	   Indian-Female-Names.csv  White-Male-Names.csv
Hispanic-Female-Names.csv  Indian-Male-Names.csv

In [8]:
d_sets = ['Black-Female-Names.csv','Hispanic-Male-Names.csv','White-Female-Names.csv','Black-Male-Names.csv','Indian-Female-Names.csv','White-Male-Names.csv','Hispanic-Female-Names.csv','Indian-Male-Names.csv']
d_sets

['Black-Female-Names.csv',
 'Hispanic-Male-Names.csv',
 'White-Female-Names.csv',
 'Black-Male-Names.csv',
 'Indian-Female-Names.csv',
 'White-Male-Names.csv',
 'Hispanic-Female-Names.csv',
 'Indian-Male-Names.csv']

In [3]:
import pandas as pd

In [4]:
data_loc = './data/'

In [9]:
d = pd.read_csv(data_loc+d_sets[0])

In [10]:
d.head()

  last name     first name gender   race
0   abraham   tashanika l       f  black
1     adams     denetra c       f  black
2     adams     tomesha d       f  black
3     adams    trellany c       f  black
4  adderley     cynthia s       f  black