In [5]:
import pandas as pd

In [6]:
data_loc = './data/'
d_sets = ['Indian-Male-Names.csv','Indian-Female-Names.csv']
d_sets

['Indian-Male-Names.csv', 'Indian-Female-Names.csv']

In [7]:
def disp_d(name):
    d2 = pd.read_csv(data_loc+name)
    print(name,'\n',d2.head())
    print('size :',len(d2))
    print('-----------------')

In [8]:
for i in d_sets:
    disp_d(i)

Indian-Male-Names.csv
               name gender    race
0          barjraj      m  indian
1     ramdin verma      m  indian
2  sharat chandran      m  indian
3  birender mandal      m  indian
4             amit      m  indian
size : 14845
-----------------
Indian-Female-Names.csv
               name gender    race
0          shivani      f  indian
1             isha      f  indian
2  smt shyani devi      f  indian
3            divya      f  indian
4            mansi      f  indian
size : 15382
-----------------

In [15]:
ind_m = pd.read_csv(data_loc+d_sets[0])
ind_f = pd.read_csv(data_loc+d_sets[1])

### 1) Check for NULL Values

In [13]:
ind_m.isna().sum()

name      24
gender     0
race       0
dtype: int64

In [16]:
ind_f.isna().sum()

name      31
gender     0
race       0
dtype: int64

### 2) Check for Duplicates

In [19]:
ind_m.duplicated().sum()

6325

In [20]:
ind_f.duplicated().sum()

8608

## Drop duplicates

In [21]:
ind_f.drop_duplicates(inplace=True)

In [22]:
len(ind_f)

6774

In [23]:
ind_m.drop_duplicates(inplace=True)
len(ind_m)

8520

In [27]:
ind_m.dropna(inplace=True)
len(ind_m)

8519

In [29]:
ind_f.dropna(inplace=True)
len(ind_m)

8519

### Prepocess