In [7]:
import pandas as pd
import re
from tqdm import tqdm

In [9]:
data_loc = './data/clean/'

In [10]:
d_sets = ['Black-Male-Names.csv','Black-Female-Names.csv','Hispanic-Male-Names.csv','Hispanic-Female-Names.csv','White-Male-Names.csv','White-Female-Names.csv','Indian-Male-Names.csv','Indian-Female-Names.csv']
d_sets

['Black-Male-Names.csv',
 'Black-Female-Names.csv',
 'Hispanic-Male-Names.csv',
 'Hispanic-Female-Names.csv',
 'White-Male-Names.csv',
 'White-Female-Names.csv',
 'Indian-Male-Names.csv',
 'Indian-Female-Names.csv']

In [11]:
def disp_d(name,d_loc):
    d2 = pd.read_csv(d_loc+name)
    print(name,'\n',d2.head())
    print('size :',len(d2))
    print('-----------------')

### Features
* Length - character count

In [14]:
def add_features(name):
    d2 = pd.read_csv(data_loc+name)
    d2['length'] = d2.name.apply(lambda x : len(str(x)))
    d2.to_csv(data_loc+name, index=False)

In [16]:
for i in tqdm(d_sets):
    add_features(i)

100%|██████████| 8/8 [00:00<00:00, 14.95it/s]

In [17]:
for i in d_sets:
    disp_d(i,data_loc)

Black-Male-Names.csv
             name  gender  race  length
0       aaric a        0     0       9
1   dominique j        0     0      13
2    fredrick r        0     0      12
3       jarvis         0     0       9
4      lorenzo         0     0      10
size : 15219
-----------------
Black-Female-Names.csv
             name  gender  race  length
0   tashanika l        1     0      13
1     denetra c        1     0      11
2     tomesha d        1     0      11
3    trellany c        1     0      12
4     cynthia s        1     0      11
size : 2195
-----------------
Hispanic-Male-Names.csv
            name  gender  race  length
0   jonathan r        0     1      12
1   jonathan a        0     1      12
2       pablo         0     1       8
3    basilio l        0     1      11
4      german         0     1       9
size : 2184
-----------------
Hispanic-Female-Names.csv
           name  gender  race  length
0   shirley m        1     1      11
1       ana d        1     1       7
2     miriam         1     1       9
3     ivette         1     1       9
4      saray         1     1       8
size : 202
-----------------
White-Male-Names.csv
            name  gender  race  length
0      billy r        0     2       9
1    charles d        0     2      11
2   clarence d        0     2      12
3     justin c        0     2      10
4        roy s        0     2       7
size : 13026
-----------------
White-Female-Names.csv
             name  gender  race  length
0      leslie b        1     2      10
1       peggy s        1     2       9
2     rebecca r        1     2      11
3   antoinette         1     2      13
4    shaylene n        1     2      12
size : 2743
-----------------
Indian-Male-Names.csv
               name  gender  race  length
0          barjraj       0     3       7
1     ramdin verma       0     3      12
2  sharat chandran       0     3      15
3  birender mandal       0     3      15
4             amit       0     3       4
size : 8479
-----------------
Indian-Female-Names.csv
               name  gender  race  length
0          shivani       1     3       7
1             isha       1     3       4
2  smt shyani devi       1     3      15
3            divya       1     3       5
4            mansi       1     3       5
size : 6703
-----------------