In [50]:
import pandas as pd
import re

In [3]:
clean_loc = './data/clean/'
d_sets = ['Indian-Male-Names.csv','Indian-Female-Names.csv']
d_sets

['Indian-Male-Names.csv', 'Indian-Female-Names.csv']

In [87]:
ind_m = pd.read_csv(clean_loc+d_sets[0])
ind_f = pd.read_csv(clean_loc+d_sets[1])
ind_f.head()

              name gender    race
0          shivani      f  indian
1             isha      f  indian
2  smt shyani devi      f  indian
3            divya      f  indian
4            mansi      f  indian

In [88]:
ind_m.head()

              name gender    race
0          barjraj      m  indian
1     ramdin verma      m  indian
2  sharat chandran      m  indian
3  birender mandal      m  indian
4             amit      m  indian

### Map Gender to 0(male), 1(female)

In [89]:
ind_f.gender = 1
ind_m.gender = 0

In [131]:
ind = ind_m[:6800].append(ind_f)
ind.head()

              name  gender    race
0          barjraj       0  indian
1     ramdin verma       0  indian
2  sharat chandran       0  indian
3  birender mandal       0  indian
4             amit       0  indian

In [132]:
ind.gender.value_counts()

0    6800
1    6773
Name: gender, dtype: int64

In [133]:
len(ind)

13573

## Actual value

In [144]:
y = ind.gender
len(y)

13573

## Features

In [145]:
def preprocess(word):
    return re.sub(r'[^a-z.\s]+','',word)

In [146]:
pre_t = list(map(lambda x: preprocess(x),ind.name.values))

In [147]:
from sklearn.feature_extraction.text import CountVectorizer

In [148]:
vec = CountVectorizer(lowercase=True,token_pattern='.')

In [149]:
name_vec = vec.fit_transform(pre_t)

In [150]:
name_vec

<13573x29 sparse matrix of type '<class 'numpy.int64'>'
	with 112821 stored elements in Compressed Sparse Row format>

In [151]:
len(vec.vocabulary_)

29

### Convert name

In [161]:
def conv_input(name):
    pre = preprocess(name)
    return vec.transform([pre])

## Model

In [152]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix

In [153]:
from sklearn.naive_bayes import GaussianNB

In [154]:
naive_b = GaussianNB()

In [155]:
naive_b.fit(name_vec.toarray(),y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [156]:
p = naive_b.predict(name_vec.toarray())

In [157]:
accuracy_score(y,p)

0.5264127311574449

In [158]:
confusion_matrix(y,p)

array([[6624,  176],
       [6252,  521]])

In [159]:
naive_b.predict_proba(vec.transform(['isha']).toarray())

array([[0.99674815, 0.00325185]])