### For Soln 1
#### ( Predict Gender from Name )

In [1]:
%matplotlib inline

In [15]:
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
d_loc = './data/clean/'
s_loc = './data/sample/'

In [17]:
ind_d_sets = ['Indian-Male-Names.csv','Indian-Female-Names.csv']
ind_d_sets

['Indian-Male-Names.csv', 'Indian-Female-Names.csv']

In [28]:
ind_m = pd.read_csv(d_loc+ind_d_sets[0])
ind_f = pd.read_csv(d_loc+ind_d_sets[1])

In [29]:
print(ind_m.head())
print(ind_f.head())

           name  gender  race  length
0       barjraj       0     3       7
1  ramdin verma       0     3      12
2        sharat       0     3       6
3      birender       0     3       8
4          amit       0     3       4
              name  gender  race  length
0          shivani       1     3       7
1             isha       1     3       4
2  smt shyani devi       1     3      15
3            divya       1     3       5
4            mansi       1     3       5

In [30]:
ind = ind_m.append(ind_f)
len(ind)

13123

In [31]:
(ind.length > 21).sum()

84

In [32]:
ind.length.max()

32

In [33]:
ind.length.min()

3

In [34]:
th = 21

In [35]:
for i in ind_d_sets:
    temp = pd.read_csv(d_loc+i)
    temp = temp[temp.length < th]
    temp.to_csv(s_loc+i, index=False)

In [36]:
def disp_d(name,d_loc):
    d2 = pd.read_csv(d_loc+name)
    print(name,'\n',d2.head())
    print('size :',len(d2))
    print('-----------------')

In [37]:
for i in ind_d_sets:
    disp_d(i,s_loc)

Indian-Male-Names.csv
            name  gender  race  length
0       barjraj       0     3       7
1  ramdin verma       0     3      12
2        sharat       0     3       6
3      birender       0     3       8
4          amit       0     3       4
size : 7307
-----------------
Indian-Female-Names.csv
               name  gender  race  length
0          shivani       1     3       7
1             isha       1     3       4
2  smt shyani devi       1     3      15
3            divya       1     3       5
4            mansi       1     3       5
size : 5685
-----------------

In [13]:
import re

In [14]:
re?