In [5]:
import pandas as pd

In [30]:
data_loc = './data/'
clean_loc = './data/clean/'
d_sets = ['Indian-Male-Names.csv','Indian-Female-Names.csv']
d_sets

['Indian-Male-Names.csv', 'Indian-Female-Names.csv']

## Mapping In

In [7]:
def disp_d(name,d_loc):
    d2 = pd.read_csv(d_loc+name)
    print(name,'\n',d2.head())
    print('size :',len(d2))
    print('-----------------')

In [8]:
for i in d_sets:
    disp_d(i)

Indian-Male-Names.csv
               name gender    race
0          barjraj      m  indian
1     ramdin verma      m  indian
2  sharat chandran      m  indian
3  birender mandal      m  indian
4             amit      m  indian
size : 14845
-----------------
Indian-Female-Names.csv
               name gender    race
0          shivani      f  indian
1             isha      f  indian
2  smt shyani devi      f  indian
3            divya      f  indian
4            mansi      f  indian
size : 15382
-----------------

In [15]:
ind_m = pd.read_csv(data_loc+d_sets[0])
ind_f = pd.read_csv(data_loc+d_sets[1])

### 1) Check for NULL Values

In [13]:
ind_m.isna().sum()

name      24
gender     0
race       0
dtype: int64

In [16]:
ind_f.isna().sum()

name      31
gender     0
race       0
dtype: int64

### 2) Check for Duplicates

In [19]:
ind_m.duplicated().sum()

6325

In [20]:
ind_f.duplicated().sum()

8608

## Drop duplicates

In [21]:
ind_f.drop_duplicates(inplace=True)

In [22]:
len(ind_f)

6774

In [23]:
ind_m.drop_duplicates(inplace=True)
len(ind_m)

8520

In [27]:
ind_m.dropna(inplace=True)
len(ind_m)

8519

In [29]:
ind_f.dropna(inplace=True)
len(ind_m)

8519

### Prepocess

In [31]:
def preprocess_ds(name):
    d2 = pd.read_csv(data_loc+name)
    print(name,'\n')
    print('Before :',len(d2))
    print('Duplicates :', d2.duplicated().sum())
    print('Null :', d2.isna().sum())
    d2.drop_duplicates(inplace=True)
    d2.dropna(inplace=True)
    print('After :',len(d2))
    d2.to_csv(clean_loc+name, index=False)
    print('-----------------')

In [32]:
fd_sets = ['Black-Male-Names.csv','Black-Female-Names.csv','Hispanic-Male-Names.csv','Hispanic-Female-Names.csv','White-Male-Names.csv','White-Female-Names.csv','Indian-Male-Names.csv','Indian-Female-Names.csv']
fd_sets

['Black-Male-Names.csv',
 'Black-Female-Names.csv',
 'Hispanic-Male-Names.csv',
 'Hispanic-Female-Names.csv',
 'White-Male-Names.csv',
 'White-Female-Names.csv',
 'Indian-Male-Names.csv',
 'Indian-Female-Names.csv']

In [33]:
for i in fd_sets:
    preprocess_ds(i)

Black-Male-Names.csv

Before : 35081
Duplicates : 1029
Null : last name     0
first name    0
gender        0
race          0
dtype: int64
After : 34052
-----------------
Black-Female-Names.csv

Before : 2438
Duplicates : 2
Null : last name      0
 first name    0
gender         0
race           0
dtype: int64
After : 2436
-----------------
Hispanic-Male-Names.csv

Before : 4166
Duplicates : 66
Null : last name     0
first name    0
gender        0
race          0
dtype: int64
After : 4100
-----------------
Hispanic-Female-Names.csv

Before : 217
Duplicates : 1
Null : last name      0
 first name    0
gender         0
race           0
dtype: int64
After : 216
-----------------
White-Male-Names.csv

Before : 44048
Duplicates : 544
Null : last name      3
 first name    0
gender         0
race           0
dtype: int64
After : 43501
-----------------
White-Female-Names.csv

Before : 4600
Duplicates : 7
Null : last name      0
 first name    0
gender         0
race           0
dtype: int64
After : 4593
-----------------
Indian-Male-Names.csv

Before : 14845
Duplicates : 6325
Null : name      24
gender     0
race       0
dtype: int64
After : 8519
-----------------
Indian-Female-Names.csv

Before : 15382
Duplicates : 8608
Null : name      31
gender     0
race       0
dtype: int64
After : 6773
-----------------