In [17]:
import pandas as pd
import re
from tqdm import tqdm

In [18]:
data_loc = './data/clean/'

In [19]:
d_sets = ['Black-Male-Names.csv','Black-Female-Names.csv','Hispanic-Male-Names.csv','Hispanic-Female-Names.csv','White-Male-Names.csv','White-Female-Names.csv','Indian-Male-Names.csv','Indian-Female-Names.csv']
d_sets

['Black-Male-Names.csv',
 'Black-Female-Names.csv',
 'Hispanic-Male-Names.csv',
 'Hispanic-Female-Names.csv',
 'White-Male-Names.csv',
 'White-Female-Names.csv',
 'Indian-Male-Names.csv',
 'Indian-Female-Names.csv']

In [20]:
def disp_d(name,d_loc):
    d2 = pd.read_csv(d_loc+name)
    print(name,'\n',d2.head())
    print('size :',len(d2))
    print('-----------------')

### Features
* Length   - character count 
* ll_is_v  - Last letter is vowel, 0 - False, 1 - True
* fl_is_v  - First letter is vowel, 0 - False, 1 - True
* first_2  - First two letters of name
* last_2   - Last two letters of name
* first_3  - First three letters of name
* last_3   - Last three letters of name

In [21]:
# utils

def is_vowel(c):
    c = c.lower()
    v_set = list('aeiou')
    if c in v_set:
        return 1
    return 0

In [22]:
is_vowel('a')

1

In [25]:
def add_features(file_name):
    d2 = pd.read_csv(data_loc+file_name)
    #adding new features
    d2['name'] = d2.name.astype(str)
    d2['length'] = d2.name.apply(lambda x : len(str(x)))
    d2['fl_is_v'] = d2.name.apply(lambda x : is_vowel(x[0]))
    d2['ll_is_v'] = d2.name.apply(lambda x : is_vowel(x[-1]))
    d2['first_2'] = d2.name.apply(lambda x : x[0:2])
    d2['last_2'] = d2.name.apply(lambda x : x[-2:])
    d2['first_3'] = d2.name.apply(lambda x : x[0:3])
    d2['last_3'] = d2.name.apply(lambda x : x[-3:])
    #save csv
    d2.to_csv(data_loc+file_name, index=False)

In [26]:
for i in tqdm(d_sets):
    add_features(i)

100%|██████████| 8/8 [00:00<00:00, 17.60it/s]

In [27]:
for i in d_sets:
    disp_d(i,data_loc)

Black-Male-Names.csv
         name  gender  race  length  fl_is_v  ll_is_v first_2 last_2 first_3  \
0      aaric       0     0       5        1        0      aa     ic     aar
1  dominique       0     0       9        0        1      do     ue     dom
2   fredrick       0     0       8        0        0      fr     ck     fre
3     jarvis       0     0       6        0        0      ja     is     jar
4    lorenzo       0     0       7        0        1      lo     zo     lor

  last_3
0    ric
1    que
2    ick
3    vis
4    nzo
size : 6981
-----------------
Black-Female-Names.csv
         name  gender  race  length  fl_is_v  ll_is_v first_2 last_2 first_3  \
0  tashanika       1     0       9        0        1      ta     ka     tas
1    denetra       1     0       7        0        1      de     ra     den
2    tomesha       1     0       7        0        1      to     ha     tom
3   trellany       1     0       8        0        0      tr     ny     tre
4    cynthia       1     0       7        0        1      cy     ia     cyn

  last_3
0    ika
1    tra
2    sha
3    any
4    hia
size : 1436
-----------------
Hispanic-Male-Names.csv
       name  gender  race  length  fl_is_v  ll_is_v first_2 last_2 first_3  \
0   jothan       0     1       6        0        0      jo     an     jot
1    pablo       0     1       5        0        1      pa     lo     pab
2  basilio       0     1       7        0        1      ba     io     bas
3   german       0     1       6        0        0      ge     an     ger
4   javier       0     1       6        0        0      ja     er     jav

  last_3
0    han
1    blo
2    lio
3    man
4    ier
size : 872
-----------------
Hispanic-Female-Names.csv
       name  gender  race  length  fl_is_v  ll_is_v first_2 last_2 first_3  \
0  shirley       1     1       7        0        0      sh     ey     shi
1      NaN       1     1       3        0        0      na     an     NaN
2   miriam       1     1       6        0        0      mi     am     mir
3   ivette       1     1       6        1        1      iv     te     ive
4    saray       1     1       5        0        0      sa     ay     sar

  last_3
0    ley
1    NaN
2    iam
3    tte
4    ray
size : 168
-----------------
White-Male-Names.csv
        name  gender  race  length  fl_is_v  ll_is_v first_2 last_2 first_3  \
0     billy       0     2       5        0        0      bi     ly     bil
1   charles       0     2       7        0        0      ch     es     cha
2  clarence       0     2       8        0        1      cl     ce     cla
3    justin       0     2       6        0        0      ju     in     jus
4       roy       0     2       3        0        0      ro     oy     roy

  last_3
0    lly
1    les
2    nce
3    tin
4    roy
size : 3184
-----------------
White-Female-Names.csv
          name  gender  race  length  fl_is_v  ll_is_v first_2 last_2 first_3  \
0      leslie       1     2       6        0        1      le     ie     les
1       peggy       1     2       5        0        0      pe     gy     peg
2     rebecca       1     2       7        0        1      re     ca     reb
3  antoinette       1     2      10        1        1      an     te     ant
4    shaylene       1     2       8        0        1      sh     ne     sha

  last_3
0    lie
1    ggy
2    cca
3    tte
4    ene
size : 1159
-----------------
Indian-Male-Names.csv
            name  gender  race  length  fl_is_v  ll_is_v first_2 last_2  \
0       barjraj       0     3       7        0        0      ba     aj
1  ramdin verma       0     3      12        0        1      ra     ma
2        sharat       0     3       6        0        0      sh     at
3      birender       0     3       8        0        0      bi     er
4          amit       0     3       4        1        0      am     it

  first_3 last_3
0     bar    raj
1     ram    rma
2     sha    rat
3     bir    der
4     ami    mit
size : 7406
-----------------
Indian-Female-Names.csv
               name  gender  race  length  fl_is_v  ll_is_v first_2 last_2  \
0          shivani       1     3       7        0        1      sh     ni
1             isha       1     3       4        1        1      is     ha
2  smt shyani devi       1     3      15        0        1      sm     vi
3            divya       1     3       5        0        1      di     ya
4            mansi       1     3       5        0        1      ma     si

  first_3 last_3
0     shi    ani
1     ish    sha
2     smt    evi
3     div    vya
4     man    nsi
size : 5717
-----------------

In [51]:
re.sub(r'na|/.*|@.*','','roshan kumar s/o rajkumar,')

'roshan kumar s'

In [61]:
re?